body {
  margin: 0;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  font-family:'Barlow', sans-serif;
  width: 100vw;
}
.header {
  background-color: #ffff;
  color: #0033A0;
}
.container {
  display: grid;
  grid-template-columns: 40vw 60vw;
  font-size: 0.8em;
  font-weight: bolder;
}
.nav {
  background-color: #0033A0;
  color: #ffff;
}
.container div {
  display: flex;
  justify-content: center;
}
.logo {
  width: 5rem;
  margin-right: 16rem;
}
.btn {
  font-family:'Barlow', sans-serif;
  color: #0033A0;
  padding: 0.8em;
  background-color: #E3E829;
  border-radius: 40px;
  width: 8rem;
  height: 1.5rem;
  font-size: 0.8em;
  border: none;
  font-weight: bolder;
}
.titulo {
  background-color: #00AEC7;
}
.anuncios {
  display: grid;
  width: 100%;
  height: 50vh;
  grid-template-columns: auto auto;
  align-items: start;
  justify-content: space-around;
  align-content: space-between;
}
.anuncio-1 {
  margin: 6rem;
}
.anuncio-1 div {
  margin: 1rem 6rem 0.5rem 6rem;
  justify-content: space-evenly;
}
.auto {
  width: 100%;
  margin: 1rem 6rem 0.5rem 6rem;
}
.quote-form{
  background-color: #ECF0F1;
  display: grid;
  font-family:'Barlow', sans-serif;
  color: #0033A0;
  width: 100vw;
  padding: -5px 50px 75px 100px;
  height: 10hv;
  justify-content: center;
  font-size: 0.6rem;
}
.formItems {
  display: grid;
  grid-template-columns:  auto auto auto auto;
  align-items: end;
  margin-bottom: 2rem;
 }
h1 {
  color: #00AEC7;
  font-family: 'Barlow', sans-serif;
}
h2, h3{
  font-family:'Barlow', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #0033A0;
  display: flex;
  justify-content: space-around;
}
h4 {
  font-family:'Barlow', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #0033A0;
  display: flex;  
}
p{
  color: #53565A;
  font-size: 0.8rem;
}
.img-pts{
  width: 1rem;
}
.img-bancos{
  width: 20rem;
}
.b{
  color: #0033A0;
}
input {
  border-radius: 100px;
  border: none;
}
.icon-perdida-total {
  width: 2rem;
}
.icon-check {
  width: 0.8rem;
}
.section1 {
  display: grid;
  width:  100%;;
  grid-template-columns: 10vh 70vh 70vh;
  justify-content: center;
}